# Docker ignore file

# Git version control
.git

# Dependencies
node_modules

# Next.js build output
.next

# Environment variables
.env.local

# Docker files
Dockerfile
.dockerignore

# Documentation
README.md
